/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/google-icons-font.woff2) format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.space {
  flex: 1 1 auto;
}

.small-text {
  font-size: 8pt;
}

.nobr {
  white-space: nowrap;
}

.text-center {
  text-align: center;
}

body, html {
  width: 100%;
  height: 100%;
  display: flex;
}

body {
  background: url(/assets/deep-space.jpg) 0 0;
}

app-root {
  width: 100%;
  height: 100%;
}
